body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background-image:
url('img/fondo.jpg');

background-size:cover;

background-position:center;

background-repeat:no-repeat;

overflow:hidden;

font-family:Arial;

}

.container{

text-align:center;

}

.foto{

width:300px;

border-radius:20px;

box-shadow:0 0 20px pink;

}

button{

padding:15px 30px;

font-size:22px;

margin:15px;

border:none;

border-radius:15px;

cursor:pointer;

transition:0.3s;

}

#si{

background:#ff1493;

color:white;

}

#no{

background:#444;

color:white;

position:relative;

}

.oculto{

display:none;

text-align:center;

}

.foto{

width:300px;

height:300px;

object-fit:cover;

clip-path:
polygon(
50% 0%,
100% 35%,
80% 100%,
50% 80%,
20% 100%,
0% 35%
);

box-shadow:
0 0 30px hotpink;
}