body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background-image:
url('img/fondo.jpg');

background-size:cover;

background-position:center;

background-repeat:no-repeat;

overflow:hidden;

font-family:Arial;

h1{
    color: white;
    font-size: 55px;
    font-family: 'Pacifico', cursive;
    text-shadow:
    0 0 10px #ff69b4,
    0 0 20px #ff1493,
    0 0 40px #ff1493;
}

}

.container{

text-align:center;

}

.foto{

width:300px;

border-radius:20px;

box-shadow:0 0 20px pink;

}

button{

padding:15px 30px;

font-size:22px;

margin:15px;

border:none;

border-radius:15px;

cursor:pointer;

transition:0.3s;

}

#si{

background:#ff1493;

color:white;

}

#no{

background:#444;

color:white;

position:relative;

}

.oculto{

display:none;

text-align:center;

}

.foto{

width:300px;

height:300px;

object-fit:cover;

border-radius:20px;

box-shadow:0 0 30px hotpink;

animation: palpito 1.2s ease-in-out infinite;

}

/* Efecto corazón latiendo */

@keyframes palpito {

0%{
transform: scale(1);
box-shadow:0 0 20px hotpink;
}

15%{
transform: scale(1.12);
box-shadow:0 0 40px #ff1493;
}

30%{
transform: scale(1);
box-shadow:0 0 20px hotpink;
}

45%{
transform: scale(1.15);
box-shadow:0 0 50px #ff1493;
}

60%{
transform: scale(1);
box-shadow:0 0 20px hotpink;
}

100%{
transform: scale(1);
box-shadow:0 0 20px hotpink;
}

}

#final p{

font-size:32px;

color:white;

font-weight:bold;

text-shadow:
0 0 10px #ff69b4,
0 0 20px #ff1493;

animation: aparecer 2s ease-in-out;

}
@keyframes aparecer{

0%{
opacity:0;
transform:translateY(50px);
}

100%{
opacity:1;
transform:translateY(0);
}

}

